<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </thead>

    <tbody>
        @for (row of manyPerson; track row) {
            <tr class="align-middle">
                <td>{{row.givenName}}</td>
                <td>{{row.surName}}</td>
                <td>{{row.age}}</td>
                <td>{{row.email}}</td>
                <td>{{row.address}}</td>
            </tr>
        }
    </tbody>
</table>